html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;

  background-image: url("images/circle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  font-size: 1.5rem;
}

main {
  color: #000;
  font-family: sans-serif;
  text-align: center;
}