!!!
%html

%head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "X-UA-Compatible", content: "IEedge"}
    %meta{name: "viewport", content: "widthdevice-width, initial-scale1"}

    %title Halloween x Einweihung

    %script{src: "/js/jquery.js"}
    %script{src: "/js/popper.js"}
    %script{src: "/js/bootstrap.min.js"}
    %script{src: "/js/hw.js"}

    %link{href: "/css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "/css/halloween.css", rel: "stylesheet"}

%body

.fixed-top.text-center
    %a{id: "font-switch", href: "#"} Ich kann das nicht lesen!


-# Front
#page.container
    .row
        .col-md-12
            %span.fontface-top.border-front
                %h3 Halloween x Einweihung
                %h4.candle Feiern, wenn andere schon laengst genug haben
    -# Medium, large and xtra-large
    .row.d-xs-none.d-sm-none.d-md-none.d-lg-block.d-xl-block
        .col-md-12
            .container
                #wallpaper.row
                    .col-md-6
                        .row
                            .col-md-2.title-item Wo:
                            .col-md-10.text-item Einweihung an geheimer Location
                        .row
                            .col-md-2.title-item Datum:
                            .col-md-10.text-item Samstag 02.11.2024 - 15:00
                        .row
                            .col-md-12.title-item Modus:
                        .row
                            .col-md-12.text-item
                                Bottleparty - kaltes Bier, Wein und zu viel Captain und Bacardi sind vorhanden!
                                .dingbats
                                    Yep, haben wir wirklich eine Wagenladung von!
                    .col-md-6
                        .row
                            .col-md-11.title-item Dresscode:
                        .row.space
                            .col-md-12.text-item
                                Hexen, Vampire, Monster und aller Art zwielichtige Gestalten
                                sind willkommen!
                        .row
                            .col-md-12.title-item Kulinarik:
                        .row.space
                            .col-md-12.text-item
                                Vergiftete Kuchen und toedliche Plaetzchen! Eine Bazillentorte!
                                Verdorbene Makronen! Torte mit Schlangengift! Kirschtorte mit
                                Curare! Neiiiiiiiiin!
                                .text-item.white
                                    Wir bestellen Pizza, freuen uns aber ueber kleine Treats.
    -# Xtra-small and small¬
    .row.d-xs-block.d-sm-block.d-md-block.d-lg-none.d-xl-none
        .col-sm-12
            .container
            .container
                #wallpaper.row
                    .col-sm-12
                        .row
                            .col-sm-2.title-item Wo:
                            .col-sm-10.text-item Einweihung an geheimer Location
                        .row
                            .col-sm-2.title-item Datum:
                            .col-sm-10.text-item Samstag 02.11.2024 - 15:00
                        .row
                            .col-sm-12.title-item Modus:
                        .row
                            .col-sm-12.text-item
                                Bottleparty - kaltes Bier, Wein und zu viel Captain und Bacardi sind vorhanden!
                                .dingbats
                                    Yep, haben wir wirklich eine Wagenladung von!
                        .row
                            .col-sm-12.title-item Dresscode:
                        .row.space
                            .col-sm-12.text-item
                                Hexen, Vampire, Monster und aller Art zwielichtige Gestalten
                                sind willkommen!
                        .row
                            .col-sm-12.title-item Kulinarik:
                        .row.space
                            .col-sm-12.text-item
                                Vergiftete Kuchen und toedliche Plaetzchen! Eine Bazillentorte!
                                Verdorbene Makronen! Torte mit Schlangengift! Kirschtorte mit
                                Curare! Neiiiiiiiiin!
                                .text-item.white
                                    Wir bestellen Pizza, freuen uns aber ueber kleine Treats.

    -# Form
    .row
        .col-md-12
            %table.table{id: "comments"}
                %tr
                    %td Name:
                    %td{colspan: 2}
                        %input.input-lg.space{id: "name", type: "text", tabindex: 1}
                %tr
                    %td Kommentar:
                    %td{colspan: 2}
                        %textarea{id: "comment", rows: 2, tabindex: 2}
                %tr
                    %td Ich komme..
                    %td
                        %input{id: "submit", class: "dingbats", type: "button", value: "..vollkommen klar", tabindex: 3}
                %tr{id: "ghosts"}
                    %td{colspan: 3}
                        #list.d-flex.flex-row.flex-wrap
                            -# Ghosts
                            - @ghosts.each do |ghost|
                                %div
                                    %span{class: 'dingbats icon'}= ghost.name[0] rescue "A"
                                    %span= ghost.name
                -# Ghosts
                - @ghosts.each do |ghost|
                    - unless ghost.comment.nil? or ghost.comment.empty?
                        %tr
                            %td.comment{colspan: 3}
                                %span.name= ghost.name
                                %span.text= ghost.comment
