/* Colors */
:root {
    --light_gray: #737471;
    --dark_gray: #282826;
    --white: #fafbf8;
}

.white {
    color: var(--white) !important;
}

/* Font */
@font-face {
    font-family: 'dingbats';
    src: url('/fonts/HorrorDingbats.ttf') format('truetype');
}

@font-face {
    font-family: 'candle';
    src: url('/fonts/Horror-Candle.otf') format('truetype');
}

@font-face {
    font-family: 'newsweekly';
    src: url('/fonts/newsweekly-Regular.ttf') format('truetype');
}

#font-switch {
    color: var(--white);
    font-family: "arial";
    font-size: 10px;
}

.dingbats {
    font-family: 'dingbats', Arial, sans-serif;
}

.candle {
    font-family: 'candle', Arial, sans-serif;
}

.icon {
    font-size: 50px;
}

/* Tags */
BODY {
    background-color: #101010;
    font-family: 'newsweekly', Arial, sans-serif;
}

/* Image */
#wallpaper {
    background-image: url(../media/house.webp);
    background-color: #141414;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.image-box {
  box-sizing: border-box;
}

.gap {
  overflow: hidden;
  position: relative;
  height: 500px;
}

/* Headline */
h1 {
    font-size: 60px/68px;
}

h3 {
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    color: var(--light_gray);
    margin-top: 50px;
    text-shadow: -5px -5px 0 var(--light_gray), 5px -5px 0 var(--dark_gray),
        -5px 5px 0 var(--dark_gray), 5px 5px 0 var(--dark_gray);
}

h4 {
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    font-size: 21px;
    color: var(--white);
    margin-top: 10px;
}

/* Content */
td, input, textarea {
    font-size: 20px;
    margin: 10px;
    color: var(--white);
    vertical-align: middle !important;
}

div {
    font-size: 20px;
    color: var(--red);
    vertical-align: middle !important;
}

input, textarea {
  background-color: #000;
  color: var(--light_gray);
  border: 1px solid var(--dark_gray);
  width: 100%;
  text-shadow: none;
}

input[type=button] {
  background-color: var(--dark_gray);
  border: 1px solid var(--light_gray);
  font-family: 'dingbats', Arial, sans-serif;
  width: 50px;
  font-size: auto;
}

input:hover, textarea:hover {
  color: var(--white);
  border: 1px solid var(--white);
}

.title-item {
    font-size: 25px;
    color: var(--white);
    padding: 5px;
    text-shadow: -3px -3px 0 var(--light_gray), 3px -3px 0 var(--dark_gray),
        -3px 3px 0 var(--dark_gray), 3px 3px 0 var(--dark_gray);
}

.text-item {
    font-size: 25px;
    padding: 5px;
    color: var(--light_gray);
}

.table td, .table th {
    border-top: 1px solid var(--dark_gray);
}

/* Divider */
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid var(--dark_gray);
}

/* Ghosts */
#list > div:nth-child(odd) {
    color: var(--light_gray);
}

#list > div:nth-child(even) {
    color: var(--dark_gray);
}

#list {
    padding: 0px;
}

#list > * {
    padding: 10px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: center;
}

/* Comments */
.comment .name, .comment .text {
    color: #fff;
}

.comment .name:after {
    content: ":";
    color: #fff;
    margin-right: 5px;
}

/* Flash */
.flash {
    position: fixed;
    bottom: 30px;
    left: 0px;
    right: 0px;
    z-index: 99999;
    text-align: center;
}

.flash .box {
    font-size: 25px;
    color: #fff;
    width: 300px;
    margin: 0px auto;
    padding: 5px;
    background-color: var(--dark_gray);
    border: 1px solid var(--light_gray);
}
