/* Scrollable image */
.board {
    background-image: url("/media/board.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 325px;
    margin-top: 300px;
}

.top-part {
    height: 1280px;
}

/* Headline */
.top-headline {
    margin-top: 100px;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

h3 {
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    font: 60px 'slk', Arial, sans-serif;
    color: white;
    margin-top: 50px;
}

/* Bottomline */
.bottom {
    width: 100%;
    text-align: center;
    color: #ffffff;
    opacity: 0.5;
    margin-top: 75px;
}

span.border {
    background-color: transparent;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    -webkit-font-smoothing: none;
}

/* Info box */
.skull {
    background-position: center;
    background-size: 200px;
    background-image: url("../media/giphy.gif");
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
}

.info {
    color: #777;
    background-color: black;
    padding: 50px 80px;
    text-align: justify;
    width: 100%;
}

/* Pixel font */
@font-face {
    font-family: 'slk';
    src: url('/fonts/slkscr.ttf') format('truetype');
}

.fontface-top {
    font: 60px/68px 'slk', Arial, sans-serif;
}

.fontface-bottom {
    font: 30px 'slk', Arial, sans-serif;
    letter-spacing: 2px;
}

/* Content */
td, input, textarea, p {
    font: 20px 'slk', Arial, sans-serif;
    margin: 10px;
    letter-spacing: 1px;
    color: #9e9e9e;
    vertical-align: middle !important;
}

input, textarea {
  background-color: #9e9e9e;
  color: #fff;
  border: 1px solid #fff;
  width: 100%;
}

.top-item {
    font: 25px 'slk', Arial, sans-serif;
    margin: 10px;
    letter-spacing: 1px;
    color: #ffffff;
}

/* Divider */
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.9);
}

/* Ghosts */
.entry:nth-child(odd) {
    background-image: url("/media/pump_good.png");
    background-repeat: no-repeat;
    background-position: center right;
}

.entry:nth-child(even) {
    background-image: url("/media/pump_bad.png");
    background-repeat: no-repeat;
    background-position: center right;
}


.entry td:last-child {
    margin-right: 40px;
}

.entry td:first-child {
    vertical-align: top !important;
}

.entry td:first-child:after {
    content: ":";
}

.entry td {
    max-width: 50px;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

/* Flash */
.flash {
    position: fixed;
    bottom: 30px;
    left: 0px;
    right: 0px;
    z-index: 99999;
    text-align: center;
}

.flash .box {
    font: 25px 'slk', Arial, sans-serif;
    color: #fff;
    width: 300px;
    margin: 0px auto;
    padding: 5px;
    background-color: #9e9e9e;
    border: 1px solid #fff;
}
